body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

#local_video{
	width: 320px; 
	height: 240px; 
	border: 1px solid black;
}

#playback_video{
	width: 320px;
	height: 240px;
	border: 1px solid black;
	/*display: none;*/ /*canvasにコピーを表示*/
}
/*
#canvas {
	width: 320px;
	height: 240px;
	border: 1px solid black;	
}
*/